html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}



/*.....phone screen.....*/
@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        background-color: #333;
    }

    .menu :hover {
        background-color: rgb(69, 107, 205);
    }

    .topBlocks {
        padding: 1rem 1rem;
        flex-wrap: wrap;
    }

    .topBlocks a {
        text-decoration: none;
        color: white;
    }

    .topBlocks a:hover {
        color: black;
    }

    .heroBanner {
        display: flex;
        flex-direction: column;
        background-image: url(/Images/banner-medium.jpg);
        background-size: 100vw;

    }

    .profileDefault {
        width: 100%;
        border-radius: 30%;
        border: 3px solid black;
    }

    picture {
        padding: 0.7rem 1.5rem;
        border-radius: 8px;
        text-align: center;
    }

    .heroBannerTitle {
        color: white;
        align-self: center;
        padding: 1rem 1rem;
        text-align: center;
    }

    .nameTitle {
        font-size: 1.5rem;
    }

    .nameJob {
        font-size: 1rem;
    }

    .feature {
        font-size: 1rem;
    }

    .bannerLinks {
        background-color: rgb(242, 242, 242);
        text-decoration: none;
        color: rgb(69, 107, 205);
        border-radius: 8px;
        flex-direction: column;
    }

    .mainProfile {
        text-align: center;
    }

    .codespaceLink {
        color: rgb(69, 107, 205);
    }

    .mySkills {
        display: flex;
    }

    .mskills {
        border: 2px solid black;
        width: 40%;
        text-align: center;
        padding: 1rem 1rem;
    }

    .skillHeading {
        text-align: center;
    }

    .minterests {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2);
        border: 2px solid black;
    }

    .interests {
        font-size: 150%;
        text-align: center;
        grid-area: 1 / 1 / 2 / 4;
    }

    .gym {
        width: 40%;
        justify-self: center;
    }

    .cook {
        width: 40%;
        justify-self: center
    }

    .game {
        width: 40%;
        justify-self: center
    }
}

/*.....PC screen.....*/
@media screen and (min-width: 769px) {
    .menu {
        display: flex;
        background-color: #333;
    }

    .menu :hover {
        background-color: rgb(69, 107, 205);
    }

    .topBlocks {
        padding: 1rem 1rem;
        flex-wrap: wrap;
    }

    .topBlocks a {
        text-decoration: none;
        color: white;
    }

    .topBlocks a:hover {
        color: black;
    }

    .heroBanner {
        display: flex;
        background-image: url(/Images/banner-large.jpg);
        background-size: 100vw;

    }

    .profileDefault {
        width: 75%;
        border-radius: 30%;
        border: 3px solid black;
    }

    picture {
        padding: 3rem 5rem;
        border-radius: 8px;
    }

    .heroBannerTitle {
        color: white;
        justify-content: center;
        align-self: center;
        padding: 1rem 1rem;
    }

    .nameTitle {
        font-size: 3rem;
    }

    .nameJob {
        font-size: 2rem;
    }

    .feature {
        font-size: 1rem;
    }

    .bannerLinks {
        background-color: rgb(242, 242, 242);
        text-decoration: none;
        color: rgb(69, 107, 205);
        border-radius: 8px;
        padding: 0.5rem;
    }

    .mainProfile {
        text-align: center;
        padding: 5rem 5rem;
    }

    .codespaceLink {
        color: rgb(69, 107, 205);
    }

    .mySkills {
        display: flex;
    }

    .mskills {
        border: 2px solid black;
        width: 30%;
        text-align: center;
        padding: 1rem 1rem;
    }

    .skillHeading {
        text-align: center;
    }

    .minterests {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2);
        flex-grow: 1;
        border: 2px solid black;
    }

    .interests {
        font-size: 150%;
        text-align: center;
        grid-area: 1 / 1 / 2 / 4;
    }

    .gym {
        width: 40%;
        justify-self: center;
    }

    .cook {
        width: 40%;
        justify-self: center
    }

    .game {
        width: 40%;
        justify-self: center
    }
}